*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
}

#heartsLeft, #heartsRight{
    display: flex;
    flex-flow: wrap column;
    width: 200px;
    position: fixed;
    z-index: 3;
    top: 1000%;
}

.showTranslationAnimation{
    animation: translationToTop 5s linear;
}

#heartsLeft{
    left: 20px;
}

#heartsRight{
    left: calc(100% - 220px);
}

.heart{
    width: 80px;
    height: 80px;
    margin: 10px 0px;   
}

.rg{
    align-self: flex-end;
    animation: startRotateLeft 2s infinite linear;
}

.lf{
    animation: startRotateRigth 2s infinite linear;
}

#content{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    min-height: 100vh;
    z-index: 1;
}

#titulo{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

#buttonsContainer, #imgContainer{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

#buttonsContainer{
    margin-bottom: 12px;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px gray;
    background-color: white;
    margin: 0px 20px 0px 20px;
    color: #343a40;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
}

#btno{
    cursor: auto;
    transition: all 200ms;
}

#btnsi{
    transition: all 300ms;
    animation: shadowAnimated 2s infinite;
}

#btnsi:hover{
    background-color: #eb1c24;
    color: white;
}

#promptContainer{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.cerrar{
    display: none;
}

.abrir{
    display: block;
    animation: abrir 700ms linear;
}

#prompt{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

#closePrompt{
    border: 1px solid #eb1c24;
    cursor: pointer;
    color: #eb1c24;
    padding: 3px 8px;
    border-radius: 100px;
    position: relative;
    top: 31px;
    left: 153px;
    font-weight: 900;
    line-height: 18px;
    transition: all 300ms;
}

#textoContainer h2{
    font-weight: 500;
}

#closePrompt:hover{
    background-color: #eb1c24;
    color: white;
}

#textoContainer{
    min-width: 300px;
    max-width: 300px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;  
}

#textoContainer h2{
    margin-bottom: 12px;
}

#texto{
    min-height: 160px;
    max-height: 300px;
    overflow: auto;
    white-space: pre-line;
}



@keyframes startRotateLeft {
    0%{
        transform: rotate(0deg) scale(1.5,1.5);
    }25%{
        transform: rotate(30deg) scale(1,1);
    }50%{
        transform: rotate(0deg) scale(1.5,1.5);    
    }75%{
        transform: rotate(-30deg) scale(1,1);
    }100%{
        transform: rotate(0deg) scale(1.5,1.5);
    }
}

@keyframes startRotateRigth {
    0%{
        transform: rotate(0deg) scale(1,1);  
    }25%{
        transform: rotate(-30deg) scale(1.5,1.5);
    }50%{
        transform: rotate(0deg) scale(1,1);   
    }75%{
        transform: rotate(30deg) scale(1.5,1.5);
    }100%{
        transform: rotate(0deg) scale(1,1);
    }
}


@keyframes translationToTop {
    0%{
        top: 200%;
        opacity: 1;
    }50%{
        top: 0%;
        opacity: 1;
    }100%{
        opacity: 0;
        top: -200%;
    }
}

@keyframes shadowAnimated {
    0%{
        box-shadow: 0px 0px 4px gray;
    }50%{
        box-shadow: 0px 0px 4px #eb1c24;
    }100%{
        box-shadow: 0px 0px 4px gray;
    }
}

@keyframes abrir {
    from{
        display: block;
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@media (max-width: 500px){
    .heart{
        width: 50px;
        height: 50px;  
    }

    #heartsLeft, #heartsRight{
        width: 130px;
    }

    #heartsRight{
        left: calc(100% - 150px);
    }
}

@media (max-width: 330px){
    .heart{
        width: 35px;
        height: 35px;  
    }

    #heartsLeft, #heartsRight{
        width: 110px;
    }

    #heartsRight{
        left: calc(100% - 130px);
    }
}

@media (max-width: 390px){
    #titulo{
        font-size: 40px;
    }

    img{
        width: 290px;
    }
}

@media (max-width: 360px){
    button{
        padding: 16px;
        font-size: 16px;
    }

    #textoContainer{
        min-width: 250px;
        max-width: 250px;
    }

    #closePrompt{
        left: 129px;
    }
}

